@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');

/* Primary academic font */
body {
    font-family: 'Lora', serif;
}

/* Keep UI consistent */
button,
input,
textarea {
    font-family: 'Lora', serif;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
